.big-card_photo {
  display: flex;
  justify-content: center;
}

.big-card_photo > img {
  width: min(95%, 30rem);
  border-radius: .3rem;
}

.big-card_title {
  text-align: center;
  margin-top: .5rem;
  padding: 0 .35rem;
}

.big-card_description {
  text-align: center;
  font-size: .7rem;
  margin-top: .2rem;
  padding: 0 .35rem;
}
