.big-card_photo {
  display: flex;
  justify-content: center;
}

.big-card_photo > img {
  width: min(95%, 30rem);
  border-radius: .3rem;
}

.big-card_title > h1 {
  text-align: center;
  margin-top: .5rem;
  padding: 0 .35rem;
  margin-top: 1.2rem;
}

.big-card_description > p {
  text-align: center;
  font-size: .7rem;
  padding: 0 .35rem;
  margin-top: 2rem;
}
