@import 'src/styles.scss';

@media screen and (min-width: $small-screen-width) {
  .big-card_photo > img {
    width: auto;
    margin: .8rem .8rem 0 .8rem;
  }

  .big-card_title {
    font-size: 1.5rem;
  }

  .big-card_description {
    font-size: 1rem;
  }
}



