.container_menu-title {
  color: #ffff
}

.container_menu-title > h1 {
  margin: 1rem 0;
  font-size: 2rem;
  font-family: 'Sgoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.container_menu-title > hr {
  margin: 1rem 0;
}
