.container_small-card-content {
  margin-top: 3rem;
  width: 100%;
}

.small-card_photo {
  display: flex;
  justify-content: center;
}
.small-card_photo > img {
  width: min(95%, 22rem)
}

.small-card_title > h1 {
  font-size: clamp(1.35rem, 3vw, 2rem);
  text-align: center;
  margin-top: 1.2rem;
}

.container_small-card-separetor {
  padding: 0 .5rem;
}
.container_small-card-separetor > hr {
  width: 100%;
  margin: 2rem 0;
  height: .25rem;
  border-radius: .5rem;
  background-color: #ffff;
}
