@import 'src/styles.scss';

@media screen and (min-width: $small-screen-width) {
  .container_small-card-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    // justify-content: center;
  }

  .small-card_photo > img {
    width: 20rem;
  }

  .small-card_title {
    // align-self: flex-start;
  }
}
