<app-menu-title></app-menu-title>

<section  class="container_articles">
  <div class="articles_main">
    <app-big-card
       id="1"
       photoCover="{{mainNews?.photo}}"
       cardTitle="{{mainNews?.title}}"
       cardDescription="{{mainNews?.description}}"
    >
    </app-big-card>
  </div>

  <div class="articles_others">

    <app-small-card
      *ngFor="let article of secondaryNews"
      id="{{article.id}}"
      photoCover="{{article.photo}}"
      cardTitle="{{article.title}}"
    >
    </app-small-card>
  </div>
</section>
